@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    letter-spacing: 3px;
    text-align: center;
    /* color: #CCC2B2; */
}

h1 span {
    color: #FF5900;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    background-color: #E2DBCB;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F8F3EA;
    border:  3px solid;
    border-radius: 5px;
    height: 600px;
    width: 450px;
    padding: 20px 10px;
    gap: 5px;
    box-shadow: 10px 10px;
}

.calc-row {
    display: flex;
    flex: 1;
    gap: 5px;
}

.calc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 5px;
    cursor: pointer;
}

.calc-btn:hover {
    opacity: 0.5;
    background-color: #e0d8ca;
}

.calc-btn:active {
    opacity: 1;
    color: white;
}

.top-row {
    display: flex;
    flex-direction: column;
    background-color: #E9472A;
    padding: 10px;
    border-radius: 5px;
    gap: 0px;
}

.calc-screen {
    text-align: right;
    flex: 1;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 10;
}

.mid {
    background-color: #FF5900;
}

.bottom {
    background-color: #FFBC06;
}

.clear:active, .back:active {
    color: #FF5900;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 300px;
}

.left-container p {
    margin-top: 20px;
}

.prev-calc {
    opacity: 0.5;
    color: #FFDF38;
}

.calc-container:hover {
    box-shadow: 8px 8px;
}

.main-container {
    /* border: solid; */
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.fact-container {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    gap: 16px;
}

em:nth-child(2) {
    align-self: flex-end;
    color: #66665C;
    opacity: 0.5;
}

footer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 50px;
    padding: 8px;
    margin-top: 16px;
    text-align: center;
    background-color: #CCC2B2;
    border-radius: 5px;
    color: white;
}

img {
    width: 30px;
}