/* FE4C4C
FCC726 */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    gap: 8px;
}

.game-container {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 8px;
    border: solid white 5px;
    border-radius: 20px;
    overflow: hidden;
    filter: blur(5px);
}

.cell {
    background-color: #FE4C4C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.cell:hover {
    background-color: #FCC726;
}

.cell:active {
    opacity: 0.5;
}

.cell:hover {
    cursor: pointer;
}

.choices {
    display: flex;
    gap: 16px;
    /* border: solid; */
}

.choices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

button {
    all: unset;
    border: white solid 3px;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 2rem;
    font-weight: 900;
}

button:hover {
    cursor: pointer;
    background-color: #FCC726;
    color: black;
}

button:active {
    color: white;
    opacity: 0.5;
}