@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');

:root {
    --yellow: #FDEB4A;
    --golden-sand: #F2C477;
    --red: #F02F23;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100vh;
    border-top: black 50px solid;
    border-bottom: black 50px solid;
    background-color: var(--yellow);
    color: var(--red);
}

.grid-border {
    background-color: black;
}

.title {
    border: solid 10px;
    color: black;
    font-size: 5rem;
    padding: 8px;
}

.choices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.choices-container h1 {
    color: black;
    font-size: 3rem;
}

.game-container {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 16px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color: var(--yellow);
}

.cell:hover {
    cursor: pointer;
    background-color: var(--golden-sand);
}

.cell:active {
    opacity: 0.9;
}

button {
    all: unset;
    border-radius: 10px;
    padding: 20px 40px;
    color: black;
    font-size: 2rem;
}

button:hover {
    cursor: pointer;
    background-color: var(--red);
    border: solid black 3px;
    box-shadow: 5px 5px;
}

button:active {
    box-shadow: 2px 2px;
}