* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    border: solid;
    text-align: center;
}

.options-container {
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-container {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.grid-container {
    display: flex;
}

.grid-element {
    border: solid;
    width: 30px;
    height: 30px;
}