@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    font-family: 'Noticia Text', serif;
}

h1 {
    border: 5px solid black;
    padding: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    border: 3px solid black;
    text-align: center;
    padding: 4px 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px;
}

a:hover {
    box-shadow: 8px 8px lightgray;
}

a:active {
    color: white;
    background-color: black;
    box-shadow: 4px 4px lightgray;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.grid-container {
    border: 10px solid white;
    border-radius: 5px;
    box-shadow: 10px 10px;
    display: flex;
    height: 500px;
    width: 500px;
}

.grid-row {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex: 1;
}

.grid-cell {
    border: 1px solid black;
    flex: 1;
}

.range-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 30px;
    background: white;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: grab;
    border-radius: 5px;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px;
    background: black;
    border-radius: 3px;
}

.range-slider::-webkit-slider-thumb:hover {
    opacity: 0.8;
}

.range-slider:active {
    cursor: grabbing;
}
